.box {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  font-size: 50;
}
.hh {
  height: 857px;
  width: 15vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}
.hhh {
  height: 857px;
  width: 85vw;
  background-color: black;
  flex-wrap: wrap;
  display: flex;
}
.hehe {
  display: flex;
}
.hh .f{
    display: flex;
}
.f{
    display: flex;

}
.hha{
  height: 237px;
  width: 340px;
  background-color: white;
  margin: 30px;
}
.he{
  height: 144px;
width: 314px;
background-color: cadetblue;
display: ruby;
margin: 14px

}
.hho{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 7px;
  padding: 1px
}
.a{
  height: 40px;
  width: 247px;

  display: flex;
  margin: 6px;
}
.b{
  margin: 5px;
  display: flex;
  align-items: center;
}
body{
 display: flex;
 flex-wrap: wrap;

}
.e{
  height: 237px;
  width: 340px;
  background-color: bisque;
  margin: 30px;
}
.vi{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.g{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.f{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.hi{
  display: flex;
}
.hii{
  display: flex;
}
.q{
  height: 237px;
  width: 340px;
  background-color: rgb(255, 255, 255);
  margin: 30px;
}
.r{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.s{
  display: flex;
  align-items: center;
}
.t{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.u{
  height: 40px;
  width: 247px;
  display: flex;
  margin: auto;
}
.v{
  display: flex;
  bottom: 1px;
}
.l{
  display: flex;
  justify-content: space-between;
}
.y{
  width: 237px;
  height: 72px;
}
.p{
  background-color: black;
}