.box {
  width: 100%;
  height: 50px;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  font-size: 50;
}
.hh {
  height: 857px;
  width: 15vw;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}
.hhh {
  height: 857px;
  width: 85vw;
  background-color: brown;
  flex-wrap: wrap;
  display: flex;
}
.hehe {
  display: flex;
}
.hh .f{
    display: flex;
}
.f{
    display: flex;

}
.hha{
  height: 237px;
  width: 340px;
  background-color: bisque;
  margin: 30px;
}
.he{
  height: 144px;
width: 314px;
background-color: cadetblue;
display: ruby;
margin: 14px

}
.hho{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 7px;
  padding: 1px
}
.a{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: 6px;
}
.b{
  margin: 5px;
  display: flex;
}
body{
 display: flex;
 flex-wrap: wrap;
}
.e{
  height: 237px;
  width: 340px;
  background-color: bisque;
  margin: 30px;
}
.vi{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.g{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.f{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.hi{
  display: flex;
}
.hii{
  display: flex;
}
.h{
  height: 237px;
  width: 340px;
  background-color: bisque;
  margin: 30px;
}
.vid{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.i{
  display: flex;
}
.j{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.k{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.l{
  height: 237px;
  width: 340px;
  background-color: bisque;
  margin: 30px;
}
.m{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.n{
  display: flex;
}
.o{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.p{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.q{
  height: 237px;
  width: 340px;
  background-color: bisque;
  margin: 30px;
}
.r{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.s{
  display: flex;
}
.t{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.u{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.v{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.vide{
  height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.w{
  display: flex;
}
.y{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.z{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.aa{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}
.bb{
 height: 144px;
  width: 314px;
  background-color: cadetblue;
  display: ruby;
  margin: 14px
}
.cc{
display: flex;
} 
.dd{
  height: 37px;
  width: 40px;
  background-color: rgb(118, 101, 184);
  margin: 14px;
  display: flex;
  margin: 10px;
  padding: 1px;
}
.ee{
  height: 40px;
  width: 247px;
  background-color: rgb(118, 101, 184);
  display: flex;
  margin: auto;
}