main {
  margin-top: 54px;
}

main h4 {
  margin: 0;
}
img {
  /* border-radius: 30px; */
  height: 600px;
  width: 100vw;
  border: 1px, black;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h1 {
  margin: 0;
}
body {
  text-align: center;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
z-index: 1;
  margin: 0;
}
div h3 {
  margin: 0%;
}
header h1 {
  margin: 0%;
}
p {
  margin: 0%;
}
body {
  margin-top: 22px;
}
nav {
  text-align: center;
  padding: 10px 0;
}
div a {
  text-decoration: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ner {
  font-size: 25px;
}
.ondor {
  height: 50px;
  width: 70px;
}
.jim {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heh {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.useg {
  height: 120px;
  width: 150px;
}
.heart {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: end;
}
.shop {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: end;
}
.zuragnuud {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.jord {
  font-size: 100px;
}
.imge {
  width: 50vw;
}
.huree {
  display: flex;
}
.hehehehe {
  font-size: 100px;
}
.hhh {
  width: 10vw;
  height: 15hw;
  display: flex;
}
.imga {
  width: 25vw;
  height: 100%;
}

.relative {
  position: relative;
}
.relative .title {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.up{
    position: relative;
}
.up .uper{
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.modoni{
    position: relative;
}
.modoni .bodoni{
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.git{
    position: relative;
}
.git .hub{
    position: absolute;
    bottom: 10px;
    left: 50%;
}
@media screen and (max-width: 480px) {
  .ner {
    font-size: 14px;
    display: flex;
    gap: 8px;
  }
  .jord {
    font-size: 45px;
  }
  .imge {
    width: 100vw;
    object-fit: contain;
    height: 100%;
  }
  .huree {
    display: flex;
    flex-direction: column;
  }
  .hhh{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }


  .imga {
    width: 100vw;
    height: 100%;
  }
  .hehehehe {
    font-size: 50px;
  }
}
.angi{
  display: flex;
  flex-direction: column;
}
.buleg{
display: flex;
justify-content: space-around;
}
.nike{
  font-size: 100px;
}
.bi{
  position: relative;
}
.bi .duu{
  position: absolute;
  bottom: 0px;
  left: 8px;
}
.ha{
  display: flex;
  height: 600px;
      width: 400px;
      border-radius: 30px;
}
.hah{
  display: flex;
  height: 600px;
      width: 400px;
      border-radius: 30px;
}
.haha{
  position: relative;
}
.hahah{
  position: absolute;
  bottom: 10px;
  left: 8%;
}
.hahaha{
  display: flex;
  height: 600px;
      width: 400px;
      border-radius: 30px;
}
.hhah{
  position: relative;
}
.hha{
  position: absolute;
  bottom: 10px;
  left: 8%;
}
.gg{
  display: flex;
  justify-content: space-around;
}